.main_container {
    display: flex;
    flex-direction: column; /* Stack header and main content vertically */
    height: 100vh; /* Full viewport height */
}

.header {
    width: 100%;
    text-align: center;
    background-color: #47b1af;
    color: white;
    padding: 1rem;
    box-shadow: 0 4px 2px -2px gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_title {
    margin: 0;
}

.search_bar_container {
    display: flex;
    align-items: center;
}

.main_content {
    display: flex;
    flex: 1; /* Take the remaining space after the header */
}

.sidebar {
    width: 20%; /* Adjusted to 20% for full height sidebar */
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column; /* Stack header and content vertically */
    font-size: x-large;
}

.sidebar_header {
    width: 100%;
    text-align: center;
    background-color: #343a40;
    color: white;
    padding: 1rem;
    box-shadow: 0 2px 2px -2px gray; 
    font-size: x-large; /* Optional: Shadow for separation */
}

.sidebar_content {
    flex-grow: 1; /* Takes remaining space in the sidebar */
    padding: 1rem; /* Add padding for content inside the sidebar */
    overflow-y: auto; /* Add scroll if content overflows */
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 1rem 0;
    padding-left: 30px;
}

.sidebar ul li a, .sidebar ul li button {
    color: white;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: left;
    padding: 0.5rem 0;
    font-size: 1rem;
}

.sidebar ul li button:hover, .sidebar ul li a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    padding: 1rem;
    background-color: #f8f9fa; /* Light background color for content area */
}

/* Search bar container */
.search_bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search_input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.search_button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #47b1af;
    color: white;
    cursor: pointer;
}

.search_button:hover {
    background-color: #359c94;
}

.serviceProviderList {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}

.serviceProviderCard {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: calc(33.333% - 2rem); /* Three cards per row with gaps */
    box-sizing: border-box;
}

.serviceProviderCard h3 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.serviceProviderCard p {
    margin: 0.25rem 0;
}
