.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.main-heading {
  color: brown;
  font-size: 26px;
}
.underline {
  height: 4px;
  width: 4rem;
  background-color: #f76c2f;
  margin-top: 10px;
  margin-bottom: 10px;
}
.contactus {
  background-color: #f9f9f9;
  padding-top: 40px;
  padding-bottom: 40px;
}
.footer {
  background-color: #333;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}